# Configuração do Servidor
PORT=3000
NODE_ENV=development

# Configuração do MongoDB
# Opção 1: MongoDB Local
MONGODB_URI=mongodb://localhost:27017/order-api

# Opção 2: MongoDB Atlas (Cloud)
# MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/order-api?retryWrites=true&w=majority

# Configurações opcionais para autenticação JWT (não implementado nesta versão)
# JWT_SECRET=sua_chave_secreta_aqui
# JWT_EXPIRE=7d
